{% extends "auth_base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container-alert">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="container-auth-log">
  <h2>Login</h2>
  <form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}

    <div class="username">
      <label for="username">Username</label>
      {{ form.username(class="label", id="username") }}
    </div>

    <div class="password">
      <label for="password">Password</label>
      {{ form.password(class="label", id="password") }}
    </div>

    <button type="submit" class="submit" id="loginButton" >Login</button>

    <div class="confirm">
      <p>Don't have an Account? <a href="{{ url_for('auth.register_user') }}">Register</a></p>
    </div>
  </form>
</div>
{% endblock %}