{% extends "auth_base.html" %}

{% block content %}
  <div class="container-auth-reg">
    <h2>Register</h2>
    <form method="POST" action="{{ url_for('auth.register_user') }}">
      {{ form.hidden_tag() }}
      
      <div class="first-name">
        <label for="first_name">First Name :</label>
        {{ form.first_name(class="label", id="first_name") }}
      </div>
      <div class="last-name">
        <label for="last_name">Last Name :</label>
        {{ form.last_name(class="label", id="last_name") }}
      </div>
      <div class="username">
        <label for="username">Username :</label>
        {{ form.username(class="label", id="username") }}
      </div>
      
      <div class="email">
        <label for="email">Email :</label>
        {{ form.email(class="label", id="email") }}
      </div>
      
      <div class="password">
        <label for="password">Password :</label>
        {{ form.password(class="label", id="password") }}
      </div>
      
      <div class="confirm-password">
        <label for="confirm_password">Confirm Password :</label>
        {{ form.confirm_password(class="label", id="confirm_password") }}
      </div>
      
      <div class="location">
        <label for="location">Location :</label>
        {{ form.location(class="label", id="location") }}
      </div>
      
      <div class="role">
        <label for="role">Register as:</label>
        {{ form.role(class="label", id="role") }}
        <br><small class="role-text">Choose whether to register as a Buyer, or Seller.</small>
      </div>

      <div class="gender">
        <label for="gender">Gender :</label>
        {{ form.gender(class="label", id="gender") }}
        <br><small class="gender-text">Choose your Gender</small>
      </div>
      
      <button type="submit" class="btn btn-primary">Register</button>

      <div class="confirm">
        <p>Already have an Account? <a href="{{ url_for('auth.login') }}">Login</a></p>
      </div>
    </form>
  </div>
{% endblock %}
